
<style>

.container {

    margin-left: 50px;
}

</style>

<!-- Order Confirmation Page -->
<%-include("../../views/partials/user/header")%>

<div class="container" >
<h1>Order Confirmation</h1>

<p>Thank you for your order! Your order has been successfully placed.</p>

<!-- <p>Your order details are as follows:</p>

<ul>
  <li>Order ID: #1234</li>
  <li>Order Date: Monday, September 16, 2024</li>
  <li>Total: $100.00</li>
  <li>Payment Method: Credit Card</li>
</ul> -->

<p>To view more details about your order, please click <a href="#">here</a>.</p>

<p>If you have any questions or concerns about your order, please don't hesitate to contact us at <a href="mailto:support@example.com">support@example.com</a>.</p>

<p>Thank you for shopping with us!</p>

<br>
<br>

</div>

<%-include("../../views/partials/user/footer")%>