<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Goggles Ecommerce Category Bootstrap responsive Web Template | 404 :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	
	<style>
		html, body {
			height: 100%; /* Full height for the body */
			margin: 0; /* Remove default margin */
		}
		.wrapper {
			display: flex;
			flex-direction: column; /* Align children vertically */
			min-height: 100vh; /* Full height for the wrapper */
		}
		.header {
			flex: 0 0 auto; /* Fix the header size */
		}
		.footer {
			flex: 0 0 auto; /* Fix the footer size */
		}
		.content {
			flex: 1 0 auto; /* Allow the content to grow */
			padding: 20px; /* Add some padding */
		}
	</style>
</head>

	<div class="wrapper">
		<%-include("../../views/partials/user/header")%>

		<div class="content">
			<div class="banner-top container-fluid" id="home">
				<!-- banner -->
				<div class="banner_inner">
					<div class="services-breadcrumb">
						<div class="inner_breadcrumb">
							<ul class="short">
								<li>
									<a href="/">Home</a>
									<i>|</i>
								</li>
								<li>Error</li>
							</ul>
						</div>
					</div>
				</div>
				<!--//banner -->

				<!--/error-->
				<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
					<div class="container-fluid">
						<div class="error_page">
							<h4>Error <%= statusCode %></h4>
							<p><%= errorMessage %></p>
							<a class="b-home" href="/">Back to Home</a>
						</div>
					</div>
				</section>
			</div>
		</div>

		<!--footer -->
		<%-include("../../views/partials/user/footer")%>
		<!-- //footer -->
	</div>

	<!--jQuery-->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- newsletter modal -->
	<!--search jQuery-->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/classie-search.js"></script>
	<script src="js/demo1-search.js"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		googles.render();

		googles.cart.on('googles_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>
	<!-- carousel -->
	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
	<script src="js/bootstrap.js"></script>
	<!-- js file -->
</body>

</html>
