<div class="container-fluid">
    <%- include("../../views/partials/user/header") %>
    
    <div class="dashboard-container">
      <!-- Include the sidebar partial -->
      <%- include("../../views/partials/user/sidebar") %>
      

      <div class="dashboard-content" id="dashboardContent">

        <div class="dashboard-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Total Orders</div>
                        <div class="card-body">
                            <i class="fas fa-rocket"></i>
                            <span class="card-text">154</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Pending Orders</div>
                        <div class="card-body">
                            <i class="fas fa-clipboard-list"></i>
                            <span class="card-text">05</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dashboard-card">
                        <div class="card-title">Completed Orders</div>
                        <div class="card-body">
                            <i class="fas fa-box"></i>
                            <span class="card-text">149</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="dashboard-card account-info">
                        <div class="card-title">Account Info</div>
                        <div class="user-info">
                            <i class="fas fa-user"></i>
                            <div class="user-details">
                                <p>name: <span id="name"><%= user.name%></span></p>
                                <span>Kerala</span>
                                <span>Email: johndoe@gmail.com</span>
                                <span>Phone: +9181119805</span>
                            </div>
                        </div>
                        <button class="edit-button">Edit Account</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dashboard-card billing-address">
                        <div class="card-title">Billing Address</div>
                        <div class="user-info">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="user-details">
                                <span>John Doe</span>
                                <span>Retro Fits, 4th Gate, TVM</span>
                                <span>Pin: 6730</span>
                                <span>Phone Number: +9181119805</span>
                                <span>Email: johndoe@gmail.com</span>
                            </div>
                        </div>
                        <button class="edit-button">Edit Address</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>
    
    <%- include("../../views/partials/user/footer") %>
  </div>
  